<template>
  <div class="color_picker">
    <span
      v-for="color in colors"
      :key="color.id"
      @click="setColor(color.id)"
      :style="{ background: color.bgcolor, order: color.id }"
      class="color_item"
      :class="{ selected: value.includes(color.id) }"
    >
    </span>
  </div>
</template>

<style>
.color_picker {
  width: 100px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.color_item {
  width: 32px;
  height: 16px;
  border: 2px solid lightgray;
}
.color_item.selected {
  border: 4px solid blue;
}
</style>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  data() {
    return {
      colors: [
        {
          id: 0,
          bgcolor: "red"
        },
        {
          id: 1,
          bgcolor: "yellow"
        },
        {
          id: 2,
          bgcolor: "green"
        }
      ]
    };
  },
  props: {
    value: Array,
    multiple: Boolean
  },
  methods: {
    setColor(color: number) {
      if (!this.multiple) return this.$emit("input", [color]);
      if (this.value.includes(color))
        return this.$emit(
          "input",
          this.value.filter(el => el !== color)
        );
      this.$emit("input", [...this.value, color]);
    }
  }
});
</script>
