﻿<template>
  <div class="person_container">
    <span>найдено {{ filteredPersons.length }} из {{ persons.length }}</span>
    <ul
      ref="person_list_element"
      style="border: 1px solid black"
      class="person_list"
      @wheel="slide"
    >
      <li v-for="person in personsToShow" :key="person.id" class="person_row">
        <input type="text" v-model="person.name" />
        <ColorPicker
          :value="[person.color]"
          @input="person.color = $event[0]"
        ></ColorPicker>
      </li>
    </ul>
  </div>
</template>

<style>
.person_list {
  padding: 0;
  display: flex;
  height: 560px;
  flex: 0 0 560px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}
.person_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.person_row:last-child {
  margin-bottom: 0;
}
</style>

<script lang="ts">
import Vue from "vue";
import ColorPicker from "@/components/ColorPicker.vue";
import Person from "@/models/person.ts";

export default Vue.extend({
  data() {
    return {
      renderFromIndex: 0,
      countOnPage: 20
    };
  },
  props: {
    persons: Array,
    filterName: String,
    filterColors: Array
  },
  computed: {
    filteredPersons(): Array<Person> {
      return (this.persons as Person[]).filter(el =>
        this.isMatch(el as Person)
      );
    },
    personsToShow(): Array<Person> {
      return this.filteredPersons.slice(
        this.renderFromIndex,
        this.renderFromIndex + this.countOnPage
      );
    },
    regexp(): RegExp {
      const s = this.filterName
        .toLowerCase()
        .toLowerCase()
        .split("");
      const regparts = [];
      for (let i = 0; i < s.length; i++) {
        const si = [...s];
        /* Позволяем пользователю допустить одну ошибку */
        si.splice(i, 1, i !== 0 || i !== s.length - 1 ? ")[\\s\\S]{0,2}(" : "");
        regparts.push("(" + si.join("") + ")");
      }
      /* борьба с пустыми скобками и пробелами */
      const result =
        "(" +
        regparts
          .join(")|(")
          .replace(/[ ]{1}/g, ")[\\s]*(")
          .replace(/(\(\))/g, "") +
        ")";
      console.log(result);
      return new RegExp(result);
    }
  },
  watch: {
    filterName() {
      this.renderFromIndex = 0;
    },
    filterColors() {
      this.renderFromIndex = 0;
    }
  },
  methods: {
    isMatch(person: Person): boolean {
      return (
        (this.filterColors.length === 0 ||
          this.filterColors.includes(person.color)) &&
        this.regexp.test(person.name.toLowerCase())
      );
    },
    slide(event: WheelEvent) {
      const max = this.filteredPersons.length - this.countOnPage;
      if (max <= 0) {
        this.renderFromIndex = 0;
        return;
      }
      const count = Math.floor(event.deltaY / 28);
      this.renderFromIndex = Math.max(
        0,
        Math.min(max, this.renderFromIndex + count)
      );
    }
  },
  components: {
    ColorPicker
  }
});
</script>
