﻿<template>
  <div id="app">
    <div class="filter_row">
      <input type="text" v-model="filterName" placeholder="Поиск:" />
      <ColorPicker multiple v-model="filterColors"></ColorPicker>
    </div>
    <PersonList
      :persons="persons"
      :filterName="filterName"
      :filterColors="filterColors"
    />
    <div class="calculations">
      <p>Всего красных: {{ totals.red }}</p>
      <p>Всего жёлтых: {{ totals.yellow }}</p>
      <p>Всего зелёных: {{ totals.green }}</p>
    </div>
  </div>
</template>

<style>
#app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 610px;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0 !important; /* торопился */
}
.filter_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  width: 400px;
  height: 24px;
}
.calculations {
  width: 400px;
  padding: 8px 16px;
  margin: 24px 0 0;
  height: 640px;
  text-align: left;
}
#app .person_container {
  width: 400px;
  margin: 16px 0 0;
  height: calc(100% - 64px);
}
#app input {
  text-decoration: none;
  outline: none;
  border: 1px solid transparent; /* чтоьы не "прыгал" */
  padding-left: 0.5em;
}
#app input:focus {
  border: 1px solid black;
}
</style>

<script lang="ts">
import Vue from "vue";
import Person from "@/models/person.ts";
import PersonApi from "@/api/personApi.ts";
import PersonList from "@/components/PersonList.vue";
import ColorPicker from "@/components/ColorPicker.vue";

export default Vue.extend({
  name: "App",
  data() {
    return {
      filterName: "",
      filterColors: [],
      personApi: new PersonApi()
    };
  },
  mounted() {
    this.personApi
      .getPersons()
      .then(resp => this.$store.commit("setPersons", resp.data));
  },
  computed: {
    persons(): Person[] {
      return this.$store.getters.getPersons;
    },
    totals(): { red: number; yellow: number; green: number } {
      const result = { red: 0, yellow: 0, green: 0 };
      this.persons.forEach(el => {
        switch (el.color) {
          case 0:
            result.red++;
            return;
          case 1:
            result.yellow++;
            return;
          case 2:
            result.green++;
            return;
          default:
            return;
        }
      });
      return result;
    }
  },
  components: {
    PersonList,
    ColorPicker
  }
});
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
